.grid {
  margin: 0 -15px;
  box-sizing: border-box; }
  @media (max-width: 768px) {
    .grid {
      margin: 0 -5px; } }
  .grid:after {
    content: '';
    display: table;
    clear: both; }

.grid__col {
  float: left;
  padding: 0 15px;
  box-sizing: border-box; }
  @media (max-width: 768px) {
    .grid__col {
      padding: 0 5px; } }

.grid__col_1 {
  width: calc(100%/12*1); }

.grid__col_2 {
  width: calc(100%/12*2); }

.grid__col_3 {
  width: calc(100%/12*3); }

.grid__col_4 {
  width: calc(100%/12*4); }

.grid__col_5 {
  width: calc(100%/12*5); }

.grid__col_6 {
  width: calc(100%/12*6); }

.grid__col_7 {
  width: calc(100%/12*7); }

.grid__col_8 {
  width: calc(100%/12*8); }

.grid__col_9 {
  width: calc(100%/12*9); }

.grid__col_10 {
  width: calc(100%/12*10); }

.grid__col_11 {
  width: calc(100%/12*11); }

.grid__pull_1 {
  margin-left: calc(100%/12*1); }

.grid__pull_2 {
  margin-left: calc(100%/12*2); }

.grid__pull_3 {
  margin-left: calc(100%/12*3); }

.grid__pull_4 {
  margin-left: calc(100%/12*4); }

.grid__pull_5 {
  margin-left: calc(100%/12*5); }

.grid__pull_6 {
  margin-left: calc(100%/12*6); }

.grid__pull_7 {
  margin-left: calc(100%/12*7); }

.grid__pull_8 {
  margin-left: calc(100%/12*8); }

.grid__pull_9 {
  margin-left: calc(100%/12*9); }

.grid__pull_10 {
  margin-left: calc(100%/12*10); }

.grid__pull_11 {
  margin-left: calc(100%/12*11); }

.grid__push_1 {
  margin-right: calc(100%/12*1); }

.grid__push_2 {
  margin-right: calc(100%/12*2); }

.grid__push_3 {
  margin-right: calc(100%/12*3); }

.grid__push_4 {
  margin-right: calc(100%/12*4); }

.grid__push_5 {
  margin-right: calc(100%/12*5); }

.grid__push_6 {
  margin-right: calc(100%/12*6); }

.grid__push_7 {
  margin-right: calc(100%/12*7); }

.grid__push_8 {
  margin-right: calc(100%/12*8); }

.grid__push_9 {
  margin-right: calc(100%/12*9); }

.grid__push_10 {
  margin-right: calc(100%/12*10); }

.grid__push_11 {
  margin-right: calc(100%/12*11); }

@media (max-width: 960px) {
  .grid__m-col_0 {
    width: calc(100%/12*0); }
  .grid__m-col_1 {
    width: calc(100%/12*1); }
  .grid__m-col_2 {
    width: calc(100%/12*2); }
  .grid__m-col_3 {
    width: calc(100%/12*3); }
  .grid__m-col_4 {
    width: calc(100%/12*4); }
  .grid__m-col_5 {
    width: calc(100%/12*5); }
  .grid__m-col_6 {
    width: calc(100%/12*6); }
  .grid__m-col_7 {
    width: calc(100%/12*7); }
  .grid__m-col_8 {
    width: calc(100%/12*8); }
  .grid__m-col_9 {
    width: calc(100%/12*9); }
  .grid__m-col_10 {
    width: calc(100%/12*10); }
  .grid__m-col_11 {
    width: calc(100%/12*11); }
  .grid__m-col_12 {
    width: calc(100%/12*12); }
  .grid__m-pull_0 {
    margin-left: calc(100%/12*0); }
  .grid__m-pull_1 {
    margin-left: calc(100%/12*1); }
  .grid__m-pull_2 {
    margin-left: calc(100%/12*2); }
  .grid__m-pull_3 {
    margin-left: calc(100%/12*3); }
  .grid__m-pull_4 {
    margin-left: calc(100%/12*4); }
  .grid__m-pull_5 {
    margin-left: calc(100%/12*5); }
  .grid__m-pull_6 {
    margin-left: calc(100%/12*6); }
  .grid__m-pull_7 {
    margin-left: calc(100%/12*7); }
  .grid__m-pull_8 {
    margin-left: calc(100%/12*8); }
  .grid__m-pull_9 {
    margin-left: calc(100%/12*9); }
  .grid__m-pull_10 {
    margin-left: calc(100%/12*10); }
  .grid__m-pull_11 {
    margin-left: calc(100%/12*11); }
  .grid__m-pull_12 {
    margin-left: calc(100%/12*12); } }

@media (max-width: 768px) {
  .grid__sm-col_0 {
    width: calc(100%/12*0); }
  .grid__sm-col_1 {
    width: calc(100%/12*1); }
  .grid__sm-col_2 {
    width: calc(100%/12*2); }
  .grid__sm-col_3 {
    width: calc(100%/12*3); }
  .grid__sm-col_4 {
    width: calc(100%/12*4); }
  .grid__sm-col_5 {
    width: calc(100%/12*5); }
  .grid__sm-col_6 {
    width: calc(100%/12*6); }
  .grid__sm-col_7 {
    width: calc(100%/12*7); }
  .grid__sm-col_8 {
    width: calc(100%/12*8); }
  .grid__sm-col_9 {
    width: calc(100%/12*9); }
  .grid__sm-col_10 {
    width: calc(100%/12*10); }
  .grid__sm-col_11 {
    width: calc(100%/12*11); }
  .grid__sm-col_12 {
    width: calc(100%/12*12); }
  .grid__sm-pull_0 {
    margin-left: calc(100%/12*0); }
  .grid__sm-pull_1 {
    margin-left: calc(100%/12*1); }
  .grid__sm-pull_2 {
    margin-left: calc(100%/12*2); }
  .grid__sm-pull_3 {
    margin-left: calc(100%/12*3); }
  .grid__sm-pull_4 {
    margin-left: calc(100%/12*4); }
  .grid__sm-pull_5 {
    margin-left: calc(100%/12*5); }
  .grid__sm-pull_6 {
    margin-left: calc(100%/12*6); }
  .grid__sm-pull_7 {
    margin-left: calc(100%/12*7); }
  .grid__sm-pull_8 {
    margin-left: calc(100%/12*8); }
  .grid__sm-pull_9 {
    margin-left: calc(100%/12*9); }
  .grid__sm-pull_10 {
    margin-left: calc(100%/12*10); }
  .grid__sm-pull_11 {
    margin-left: calc(100%/12*11); }
  .grid__sm-pull_12 {
    margin-left: calc(100%/12*12); } }

.title {
  margin: 0;
  line-height: 1.333;
  text-transform: uppercase; }

.title_h1 {
  font-size: 3rem; }

.title_h2 {
  font-size: 2.25rem; }

.text-blue {
  color: #3e9cdc; }

.text-lblue {
  color: #43abf0; }

.btn {
  display: inline-block;
  vertical-align: middle;
  min-width: 182px;
  padding: 15px 20px 12px;
  font-size: 13px;
  line-height: 1;
  color: #2a2b30;
  background-color: #fff;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #6f6d7b;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color .3s; }
  .btn:focus {
    outline: none; }
  .btn:hover {
    background-color: #f8f8f8; }

.btn_blue {
  color: #fff;
  background-color: #3e9cdc;
  border-color: #fff; }
  .btn_blue:hover {
    background-color: #3488c0; }

.btn_l-gray {
  background-color: #f4f4f5;
  border: 2px solid #3e9cdc; }

.btn_large {
  width: 100%;
  padding: 15px 20px 14px;
  font-size: 16px; }

.section {
  display: block;
  max-width: 1920px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.section_main {
  padding-top: 101px;
  background-image: url("../img/bg-1.jpg"); }
  @media (max-width: 768px) {
    .section_main {
      padding-top: 62px; } }
  @media (max-width: 480px) {
    .section_main {
      padding-top: 57px; } }

.section_gray-map {
  background-image: url("../img/bg-2.jpg"); }

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(39, 39, 51, 0.9); }
  .header a {
    color: inherit;
    text-decoration: none; }

.navbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 39px 0 34px;
  color: #fff;
  text-transform: uppercase; }
  @media (max-width: 768px) {
    .navbar {
      padding: 20px 0; } }
  .navbar__brand {
    font-size: 1.75rem;
    line-height: 1;
    font-weight: bold;
    transition: .2s; }
    .navbar__brand:hover {
      opacity: .8; }
  .navbar__nav {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 0; }
    @media (min-width: 768px) {
      .navbar__nav {
        display: block !important; } }
    @media (max-width: 768px) {
      .navbar__nav {
        display: none;
        flex-basis: 100%;
        padding-top: 40px;
        padding-bottom: 20px; } }
  .navbar__item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 30px;
    transition: .2s;
    font-size: 13px;
    line-height: 1; }
    @media (max-width: 960px) {
      .navbar__item {
        margin: 0 20px; } }
    @media (max-width: 768px) {
      .navbar__item {
        display: block;
        margin: 0;
        margin-bottom: 20px; } }
    .navbar__item:last-child {
      margin-right: 0; }
    .navbar__item:hover {
      opacity: .8; }
  .navbar__item_active {
    color: #43abf0; }
    .navbar__item_active:hover {
      opacity: 1; }
    .navbar__item_active a {
      cursor: default; }

.navbar__toggle {
  display: none; }
  @media (max-width: 768px) {
    .navbar__toggle {
      display: block; } }

.navbar__toggle span {
  width: 30px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin-bottom: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .navbar__toggle span:last-child {
    margin-bottom: 0; }

.navbar__toggle.is-active span:nth-child(2) {
  opacity: 0; }

.navbar__toggle.is-active span:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(45deg);
  -ms-transform: translateY(9px) rotate(45deg);
  -o-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg); }

.navbar__toggle.is-active span:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  -ms-transform: translateY(-9px) rotate(-45deg);
  -o-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg); }

.m-banner {
  padding: 11.2% 0 16.3%; }
  .m-banner .title {
    margin-bottom: 6.8%; }
  .m-banner__desc {
    margin-bottom: 9.35%;
    font-size: 1.25rem;
    line-height: 1.7; }
    @media (max-width: 480px) {
      .m-banner__desc {
        font-size: 13px; } }
    .m-banner__desc ul {
      list-style: none;
      padding: 0;
      margin: 0; }
    .m-banner__desc .btn {
      margin-right: 20px; }
  .m-banner__btn-group {
    font-size: 0; }
    .m-banner__btn-group .btn {
      margin-right: 28px; }
      @media (max-width: 480px) {
        .m-banner__btn-group .btn {
          width: 100%;
          margin-right: 0;
          margin-bottom: 20px; } }
      .m-banner__btn-group .btn:last-child {
        margin-right: 0; }

.order {
  padding-top: 9.65%;
  padding-bottom: 12.5%;
  text-align: center;
  color: #fff; }
  .order__title {
    margin-bottom: 6.5%; }
  .order__title p {
    margin: 0;
    padding: 0;
    font-size: 18px; }
    @media (max-width: 480px) {
      .order__title p {
        font-size: 13px; } }
  .order__title .title {
    margin-bottom: 15px; }

.stepper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 6.7%;
  font-size: 0;
  list-style: none; }
  @media (max-width: 768px) {
    .stepper {
      display: block;
      max-width: 300px;
      height: auto;
      margin: 0 auto; } }
  .stepper__item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 15%; }
    @media (max-width: 1200px) {
      .stepper__item {
        width: 18%; } }
    @media (max-width: 768px) {
      .stepper__item {
        display: block;
        width: 100%;
        margin-bottom: 70px; } }
    .stepper__item::after {
      content: '';
      position: absolute;
      top: 30.5%;
      right: 0;
      width: 60%;
      height: 6px;
      transform: translateX(85%);
      z-index: 1;
      background-position: center;
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-image: url("../img/stepper-dots.png"); }
      @media (max-width: 1200px) {
        .stepper__item::after {
          width: 35%;
          height: 6px;
          transform: translateX(70%); } }
      @media (max-width: 960px) {
        .stepper__item::after {
          top: 28%; } }
      @media (max-width: 768px) {
        .stepper__item::after {
          width: 6px;
          height: 50px;
          top: auto;
          left: 50%;
          right: auto;
          bottom: 0;
          transform: translateX(-50%) translateY(115%);
          background-size: auto 100%;
          background-image: url("../img/stepper-dots_m.png"); } }
    .stepper__item:last-child::after {
      display: none; }
  .stepper__image {
    position: relative;
    width: 58%;
    max-width: 100px;
    margin: 0 auto;
    margin-bottom: 9.5%;
    border-radius: 50%;
    background-color: #3e9cdc;
    border: 5px solid #286690;
    overflow: hidden; }
    @media (max-width: 768px) {
      .stepper__image {
        margin-bottom: 10px; } }
    .stepper__image::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%); }
    .stepper__image img {
      display: block;
      width: 100%; }
  .stepper__text {
    font-size: 16px;
    line-height: 1.25; }
    @media (max-width: 1200px) {
      .stepper__text {
        font-size: 13px; } }

.input {
  display: block;
  width: 100%;
  padding: 13px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  color: #2a2b30;
  background-color: #dfdfe1;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
  @media (max-width: 768px) {
    .input {
      margin-bottom: 25px; } }
  @media (max-width: 480px) {
    .input {
      font-size: 13px; } }
  .input::-webkit-input-placeholder {
    color: #2a2b30;
    opacity: 1; }
  .input:-moz-placeholder {
    color: #2a2b30;
    opacity: 1; }
  .input::-moz-placeholder {
    color: #2a2b30;
    opacity: 1; }
  .input:-ms-input-placeholder {
    color: #2a2b30;
    opacity: 1; }

.input_hidden {
  display: none; }

.range-input {
  position: relative;
  padding-top: 43px;
  font-size: 18px;
  color: #fff; }
  @media (max-width: 768px) {
    .range-input {
      margin-bottom: 25px;
      font-size: 13px; } }
  .range-input__label {
    position: absolute;
    top: -3px;
    left: 0; }
  .range-input__output {
    position: absolute;
    top: -2px;
    right: 1px; }
    .range-input__output::after {
      content: ' %'; }
  .range-input .rangeslider--horizontal {
    height: 6px;
    border: 1px solid #fff;
    background-color: #bfbfc2; }
  .range-input .rangeslider__handle {
    width: 24px;
    height: 24px;
    background-color: #42a9ed;
    border: 3px solid #286690; }
    .range-input .rangeslider__handle::after {
      display: none; }
  .range-input .rangeslider__fill {
    background-color: #bfbfc2; }

.form__row {
  margin-bottom: 30px; }
  @media (max-width: 768px) {
    .form__row {
      margin-bottom: 0; } }
  .form__row:last-child {
    margin-bottom: 0; }

.form__row_lp {
  margin-bottom: 52px; }
  @media (max-width: 768px) {
    .form__row_lp {
      margin-bottom: 40px; } }

.m-select {
  width: 100%;
  position: relative;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
  user-select: none; }
  @media (max-width: 768px) {
    .m-select {
      margin-bottom: 25px; } }
  @media (max-width: 480px) {
    .m-select {
      font-size: 13px; } }
  .m-select__header {
    position: relative;
    width: 100%;
    padding: 14px 30px 15px 13px;
    color: #272733;
    background-color: #dfdfe1;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all .3s;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis; }
    .m-select__header i {
      position: absolute;
      width: 11px;
      height: 12px;
      right: 13px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1; }
      .m-select__header i::after, .m-select__header i::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 8px;
        top: 2px;
        background-color: #2a2b30;
        transition: all .3s;
        border-radius: 3px; }
      .m-select__header i::after {
        right: 2px;
        transform: rotate(45deg); }
      .m-select__header i::before {
        left: 2px;
        transform: rotate(-45deg); }
  .m-select__dropdown {
    display: none;
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: hidden;
    padding: 2px 3px;
    padding-left: 0;
    top: 100%;
    left: 0;
    background-color: rgba(39, 39, 51, 0.95);
    z-index: 1;
    border: 1px solid #3d4050;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
    @media (max-width: 768px) {
      .m-select__dropdown {
        background-color: #272733; } }
  .m-select__item {
    padding: 10px 13px;
    border-radius: 0;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color .3s; }
    .m-select__item:hover, .m-select__item.is-active {
      color: #42a9ed; }

.m-select.is-open .m-select__header {
  color: #fff;
  border-color: #3d4050;
  background-color: #3d4050;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
  .m-select.is-open .m-select__header::after {
    transform: translateY(-50%) rotate(-180deg); }
  .m-select.is-open .m-select__header i::after {
    right: 2px;
    transform: rotate(135deg);
    background-color: #fff; }
  .m-select.is-open .m-select__header i::before {
    left: 2px;
    transform: rotate(-135deg);
    background-color: #fff; }

.footer {
  padding: 2% 0;
  line-height: 20px;
  color: #fff;
  background-color: #3d4050; }
  .footer__inner {
    font-size: 0;
    text-align: left; }
  .footer__item {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px; }
  .footer__item_left {
    width: 31.15%;
    padding-right: 3.5%;
    text-align: left;
    border-right: 1px solid #c3c3c3; }
    @media (max-width: 768px) {
      .footer__item_left {
        width: 100%;
        text-align: center;
        padding: 20px 0;
        border-right: 0; } }
  .footer__item_center {
    width: 40.6%;
    text-align: center;
    padding: 0 3.5%; }
    @media (max-width: 768px) {
      .footer__item_center {
        width: 100%;
        text-align: center;
        padding: 20px 0; } }
  .footer__item_right {
    width: 28.25%;
    padding-left: 3.5%;
    text-align: right;
    border-left: 1px solid #c3c3c3; }
    @media (max-width: 768px) {
      .footer__item_right {
        width: 100%;
        text-align: center;
        padding: 20px 0;
        border-left: 0; } }
  .footer__link {
    padding: 0 5px;
    white-space: nowrap;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
    opacity: 1; }
    .footer__link:hover {
      opacity: .7; }
    .footer__link span {
      display: inline-block;
      vertical-align: text-bottom;
      width: 15px;
      height: 15px;
      margin-right: 10px; }
      .footer__link span img {
        width: 100%;
        height: auto; }
  .footer ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    font-size: 0;
    list-style: none; }
    @media (max-width: 960px) {
      .footer ul {
        flex-wrap: wrap;
        justify-content: center; } }
    .footer ul li {
      display: inline-block;
      vertical-align: middle;
      font-size: 13px; }

* {
  box-sizing: border-box; }

html, body {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 16px; }
  @media (max-width: 768px) {
    html, body {
      font-size: 13px; } }
  @media (max-width: 480px) {
    html, body {
      font-size: 10px; } }

.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .container {
      padding: 0 15px; } }

.image {
  width: 100%;
  height: auto; }

.nicescroll-rails {
  display: none;
  border-radius: 5px; }
