header.header
	.container
		nav.navbar
			.navbar__brand
				a(href="#")
					| LoremIpsum
					span.text-lblue .Net
			.navbar__toggle.js-navbar-toggle
				span
				span
				span
			ul.navbar__nav.js-navbar-nav
				li.navbar__item.navbar__item_active
					a Бизнес
				li.navbar__item
					a(href="#") О нас
				li.navbar__item
					a(href="#") Цены
				li.navbar__item
					a(href="#") Оформить заказ
