.btn {
	display: inline-block;
	vertical-align: middle;
	min-width: 182px;
	padding: 15px 20px 12px;
	font-size: $fz-small;
	line-height: 1;
	color: $black;
	background-color: $white;
	text-transform: uppercase;
	text-align: center;
	border: 1px solid $gray2;
	border-radius: 3px;
	text-decoration: none;
	cursor: pointer;
	transition: background-color .3s;

	&:focus {
		outline: none;
	}
	&:hover {
		background-color: #f8f8f8;
	}
}

.btn_blue {
	color: $white;
	background-color: $blue;
	border-color: $white;

	&:hover {
		background-color: #3488c0;
	}
}
.btn_l-gray {
	background-color: #f4f4f5;
	border: 2px solid $blue;
}
.btn_large {
	width: 100%;
	padding: 15px 20px 14px;
	font-size: $fz-normal;
}
