.footer {
	padding: 2% 0;
	line-height: 20px;
	color: $white;
	background-color: $gray;

	&__inner {
		font-size: 0;
		text-align: left;
	}
	&__item {
		display: inline-block;
		vertical-align: middle;
		font-size: $fz-small;
	}
	&__item_left {
		width: 31.15%;
		padding-right: 3.5%;
		text-align: left;
		border-right: 1px solid #c3c3c3;

		@media ($small) {
			width: 100%;
			text-align: center;
			padding: 20px 0;
			border-right: 0;
		}
	}
	&__item_center {
		width: 40.6%;
		text-align: center;
		padding: 0 3.5%;

		@media ($small) {
			width: 100%;
			text-align: center;
			padding: 20px 0;
		}
	}
	&__item_right {
		width: 28.25%;
		padding-left: 3.5%;
		text-align: right;
		border-left: 1px solid #c3c3c3;

		@media ($small) {
			width: 100%;
			text-align: center;
			padding: 20px 0;
			border-left: 0;
		}
	}

	&__link {
		padding: 0 5px;
		white-space: nowrap;
		color: $white;
		text-decoration: none;
		transition: all .3s;
		opacity: 1;

		&:hover {
			opacity: .7;
		}

		span {
			display: inline-block;
			vertical-align: text-bottom;
			width: 15px;
			height: 15px;
			margin-right: 10px;

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	ul {
		display: flex;
		justify-content: space-between;
		padding: 0;
		margin: 0;
		font-size: 0;
		list-style: none;

		@media ($medium) {
			flex-wrap: wrap;
			justify-content: center;
		}

		li {
			display: inline-block;
			vertical-align: middle;
			font-size: $fz-small;
		}
	}
}