.section {
	display: block;
	max-width: 1920px;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.section_main {
	padding-top: 101px;
	background-image: url('../img/bg-1.jpg');

	@media ($small) {
		padding-top: 62px;
	}
	@media ($phone) {
		padding-top: 57px;
	}
}