.stepper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	margin-bottom: 6.7%;
	font-size: 0;
	list-style: none;

	@media ($small) {
		display: block;
		max-width: 300px;
		height: auto;
		margin: 0 auto;
	}

	&__item {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 15%;

		@media ($wide) {
			width: 18%;
		}
		@media ($small) {
			display: block;
			width: 100%;
			margin-bottom: 70px;
		}

		&::after {
			content: '';
			position: absolute;
			top: 30.5%;
			right: 0;
			width: 60%;
			height: 6px;
			transform: translateX(85%);
			z-index: 1;
			background-position: center;
			background-size: 100% auto;
			background-repeat: no-repeat;
			background-image: url('../img/stepper-dots.png');

			@media ($wide) {
				width: 35%;
				height: 6px;
				transform: translateX(70%);
			}
			@media ($medium) {
				top: 28%;
			}

			@media ($small) {
				width: 6px;
				height: 50px;
				top: auto;
				left: 50%;
				right: auto;
				bottom: 0;
				transform: translateX(-50%) translateY(115%);
				background-size: auto 100%;
				background-image: url('../img/stepper-dots_m.png');
			}
		}
		&:last-child::after {
			display: none;
		}
	}
	&__image {
		position: relative;
		width: 58%;
		max-width: 100px;
		margin: 0 auto;
		margin-bottom: 9.5%;
		border-radius: 50%;
		background-color: $blue;
		border: 5px solid $blue3;
		overflow: hidden;

		@media ($small) {
			margin-bottom: 10px;
		}

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, 50%);
		}

		img {
			display: block;
			width: 100%;
		}
	}
	&__text {
		font-size: 16px;
		line-height: 1.25;

		@media ($wide) {
			font-size: 13px;
		}
	}
}