// breakpoint mixin
@mixin breakpoint($mq01) {
	@media ($mq01) {
		@content;
	}
}
@mixin font-size-map($font-size-map) {
	@each $breakpoint, $font-size in $font-size-map {
		@if $breakpoint == null {
			font-size: $font-size;
		} @else {
			@include breakpoint($breakpoint) {
				font-size: $font-size;
			}
		}
	}
}

// colors
$white: #fff;
$white2: #dfdfe1;
$black: #2a2b30;
$black2: #272733;
$blue: #3e9cdc;
$blue2: #43abf0;
$blue3: #286690;
$gray: #3d4050;
$gray2: #6f6d7b;

// font-size
$fz-small: 13px; // 13px
$fz-normal: 16px; // 16px
$fz-medium: 18px; //  18px
$fz-large: 1.25rem; // 20px
$fz-largest: 1.75rem; // 28px
$fz-big: 2.25rem; // 36px
$fz-xl: 3rem; // 48px

// MEDIA
$wide: 'max-width: 1200px';
$medium: 'max-width: 960px';
$small: 'max-width: 768px';
$phone: 'max-width: 480px';
