@import "var";
@import "grid";
@import "title";
@import "text";
@import "btn";
@import "section";
@import "header";
@import "navbar/navbar";
@import "m-banner";
@import "order";
@import "stepper";
@import "input/input";
@import "form";

$html-font-size: (null: 16px, $small: 13px, $phone: 10px);

* {
	box-sizing: border-box;
}

html, body {
	background-color: #fff;
	font-family: 'Lato', sans-serif;
	@include font-size-map($html-font-size);
}

.container {
	max-width: 1230px;
	padding: 0 30px;
	margin: 0 auto;

	@media ($small) {
		padding: 0 15px;
	}
}
.image {
	width: 100%;
	height: auto;
}