extends ./tpl/layout

block page
	section.section.section_main
		.container
			.m-banner
				.grid
					.grid__col.grid__col_8.grid__sm-col_12
						h1.title.title_h1
							span.text-blue Lorem ipsum 
							| dolor sit amet consectetur 
							span.text-blue adipiscing
						.m-banner__desc
							b At vero eos et accusamus et iusto odio dignissimos ducimus!
							ul
								li - Totam rem aperiam eaque ipsa
								li - Sit voluptatem accusantium doloremque laudantium
								li - Sed ut perspiciatis, unde omnis iste natus error
						.m-banner__btn-group
							button.btn.btn_blue Заказать
							button.btn Подробнее


